<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodrigo Bonzerr Lopez</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="navbar-header">
            <p class="navbar-brand animate__animated animate__backInDown">Rodrigo Bonzerr Lopez</p>
        </div>
        <div class="container">
            
            
            <ul class="nav navbar-nav navbar-right animate__animated animate__backInDown">
                <!-- 6 -->
                <li class="nav-item" id="home"><a href="#" target="_blank">HOME</a></li>
                <li class="nav-item" id="web"><a href="https://rodprogramdev.github.io/rodrigobonzerrlopez/" target="_blank">WEBDEV</a></li>
                <li class="nav-item" id="gameDev"><a href="https://itch.io/c/2075444/rodrigo-bonzerr-lopez-hometeamgamedev-contributions" target="_blank">GAMEDEV</a></li>
                <li class="nav-item" id="art"><a href="https://artstation.com/rodrigobonzerrlopez3" target="_blank">ARTSTATION</a></li>
                <li class="dropdown">
                    <!-- <a class="dropdown-toggle" href="https://www.reverbnation.com/rodrigobonzerrlopez" target="_blank"> MUSIC</a>
                     -->
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MUSIC <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ><a href="https://www.reverbnation.com/SIDHAYA" target="_blank">SIDHAYA </a></li>
                    </ul>
                
                </li>
              </ul>
        </div>
    </nav>
   <!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>